$success: #2cad59;
$successLight: #e2fcea;
$light: #f5f5f5;
$white: #ffffff;
$purple: #e00089;
$greyLight: #9e9e9e;
$dark: #212121;

$lightGradient: linear-gradient(230deg, #eeeeee 0%, #fafafa 100%);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// GLOBAL STYLES

a {
  transition: ease-in-out 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.btn-zoom,
.btn-edit {
  color: $white;
  background: $purple;
  border: none;
  font-size: 2.1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: ease-in-out 0.2s;
  &:hover {
    color: $purple;
    background: $white;
  }
}

// NAVBAR COLORS

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}
/* change the brand and text color */
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-text {
  color: $light;
}
/* change the link color */
.navbar-transparent .navbar-nav .nav-link {
  color: $light;
}
/* change the color of active or hovered links */
.navbar-transparent .nav-item.active .nav-link,
.navbar-transparent .nav-item:hover .nav-link {
  color: $white;
}

// NAVBAR STYLING

.navbar-toggler i {
  font-size: 2rem;
  color: $success;
}

.navbar-brand {
  font-weight: 300;
  a {
    color: $light;
    &:hover {
      color: $purple;
    }
  }
  .logo {
    font-size: 2rem;
    color: $purple;
  }
}

.nav-item {
  * {
    font-size: 1.2rem;
  }
  button {
    text-transform: uppercase;
    border-radius: 50px;
  }
}

// BACKGROUND IMAGE STYLING

#background {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  box-shadow: 0px 0px 8px 8px #000000;
  z-index: -1;
}

.app-container {
  background: $lightGradient;
}

// HOME PAGE

[class*="green-box-"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  min-height: 250px;
  background: $successLight;
  border: 5px dashed $success;
  border-radius: 25px;
}

.green-box-3 {
  color: $greyLight;
}

.search-tab input {
  max-width: 350px;
}

// HOME PAGE - PHOTOS

.photos-grid {
}

.photo-tile {
  border: 5px solid rgba(0, 0, 0, 0);
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
}

.photo-buttons {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    .logo {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
