$success: #2cad59;
$successLight: #e2fcea;
$light: #f5f5f5;
$white: #ffffff;
$purple: #e00089;
$greyLight: #9e9e9e;
$dark: #212121;

$lightGradient: linear-gradient(230deg, #eeeeee 0%, #fafafa 100%);
$darkGradient: linear-gradient(230deg, #303030 0%, #323232 100%);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// GLOBAL STYLES

a {
  transition: ease-in-out 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.btn-custom {
  color: $white;
  background: $purple;
  border: none;
  font-size: 2.1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: ease-in-out 0.2s;
  &:hover {
    color: $purple;
    background: $white;
  }
  &:focus {
    outline: none;
  }
}

// NAVBAR COLORS

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}
/* change the brand and text color */
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-text {
  color: $light;
}
/* change the link color */
.navbar-transparent .navbar-nav .nav-link {
  color: $light;
}
/* change the color of active or hovered links */
.navbar-transparent .nav-item.active .nav-link,
.navbar-transparent .nav-item:hover .nav-link {
  color: $white;
}

// NAVBAR STYLING

.navbar-toggler i {
  font-size: 2rem;
  color: $success;
}

.navbar-brand {
  font-weight: 300;
  a {
    color: $light;
    &:hover {
      color: $purple;
    }
  }
  .logo {
    font-size: 2rem;
    color: $purple;
  }
}

.nav-item {
  * {
    font-size: 1.2rem;
  }
  button {
    text-transform: uppercase;
    border-radius: 50px;
  }
}

// BACKGROUND IMAGE STYLING

#background {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  box-shadow: 0px 0px 8px 8px #000000;
  z-index: -1;
}

.app-container {
  background: $lightGradient;
}

// HOME PAGE

[class*="green-box-"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  min-height: 250px;
  background: $successLight;
  border: 5px dashed $success;
  border-radius: 25px;
}

.green-box-3 {
  color: $greyLight;
}

.search-tab input {
  max-width: 350px;
}

// HOME PAGE - PHOTOS

.photos-grid {
}

.photo-tile {
  border: 5px solid rgba(0, 0, 0, 0);
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
}

.photo-buttons {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

// MODALS

// ZOOM PHOTO

.modal-zoom-photo {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  img {
    height: 100%;
  }
  .btn-close {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}

// EDITOR

.editor-container {
  background: $darkGradient;
  color: $light;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}

.editor-filters {
  color: $purple;
}

.editor-filters-settings {
  border: 2px solid $purple;
  border-radius: 15px;
  label {
    display: block;
    margin: 0 0 -5px 0;
    color: $light;
  }
}

// STYLING RANGE SETTINGS

.editor-filters-settings {
  input[type="range"] {
    height: 4px;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 50px;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 50px;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #e00089;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 50px;
  }
  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #e00089;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #e00089;
    cursor: pointer;
  }
}

.editor-photo {
  p {
    margin: 0;
    a {
      color: $light;
    }
  }
  .photo-info {
    font-weight: 300;
  }

  .canvas-controls {
    button {
      margin: 0 5px;
      color: $dark;
      background: $light;
      &:hover,
      &.active {
        color: $light;
        background: $dark;
      }
    }
    #btn-color {
      margin: 0;
      padding: 0;
      color: $dark;
      background: $light;
      border: none;
      font-size: 1rem;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      &:focus {
        outline: none;
      }
    }
    #btn-color::-webkit-color-swatch-wrapper,
    #btn-color::-webkit-color-swatch {
      border: none;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 0;
      margin: 0;
    }
    input[type="number"] {
      font-weight: 700;
      margin: 0 5px;
      color: $dark;
      background: $light;
      border: none;
      font-size: 2.1rem;
      border-radius: 50px;
      width: 70px;
      height: 60px;
      transition: ease-in-out 0.2s;
      &:focus {
        outline: none;
      }
    }
  }
}

.editor-photo-container {
  position: relative;
  width: 100%;
  background: $dark;
  img {
    max-height: 700px;
  }
  #canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// BREAKPOINTS

@include media-breakpoint-down(sm) {
  .navbar-brand {
    .logo {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
